<style type="text/css">
    .nav-pills > li > a {font-size: 14px; padding-left: 10px; padding-right: 10px;}
    .step5_field_buttons li button { filter: none;}
</style>
<div class="wrapper step5_wrapper" style="padding: 0;">
    <!-- ko stopBindings: true -->
    <div id="signature_doc_viewer" class="step5_pages_wrapper document_viewer" data-bind="template: 'widgets/document-viewer'" style="padding-left: 10px;">
    </div>
    <!-- /ko -->
    <div class="step5_tool_wrapper" style="position: relative; top: auto; left: auto;">
        
        <div class="tool_box" data-bind="visible: selectedLocation() == null">
            <ul class="step5_field_buttons" data-bind="foreach: signatureFields, visible: signatureFields().length > 0 && selectedLocation() == null">
                <li>
                    <button class="toolTip signature_field" data-placement="left" rel="tooltip" title="Click and Drag to Add" data-bind="tooltip: { fx: {} }, dragField: { fx: {} }, attr: { 'drag-helpertext': dragText, fieldId: id, fieldType: fieldType }"><span data-bind="css: buttonCss()"></span><span data-bind="    text: name"></span></button>
                </li>
            </ul>
            <div data-bind="visible: selectedLocation() == null">
                <a href="#" class="text_btn" data-bind="click: resetFields">Reset fields</a>
            </div>
        </div>
        <a href="#" class="red_button" data-bind="click: saveFields,visible: selectedLocation() == null">Save Fields</a>
        <div class="sidebar_tabs" data-bind="visible: selectedLocation() != null">
            <ul class="nav nav-pills left" id="tabs">
                <li><a href="#field_settings">Field Settings</a></li>
                <li data-bind="visible: selectedField() != null && selectedField().fieldType() == 5"><a href="#dropdown_values">Dropdown Values</a></li>
                <li data-bind="visible: selectedField()!=null && selectedField().fieldType()==4"><a href="#date_settings">Date Settings</a></li>
                <li data-bind="visible: selectedField()!=null && selectedField().fieldType()==2"><a href="#text_settings">Text Settings</a></li>
            </ul>
            <div id="field_settings">
                <div class="ui2_input_wrap_full switch_btns">
                    <label>Name:</label>
                    <div class="ui2_input_wrapper">
                        <input type="text" data-bind="value: selectedField() != null ? selectedField().name : null, valueUpdate: ['input']">
                        <span data-bind="validationMessage: selectedField() != null ? selectedField().name : ko.observable().extend({ required: false })" class="errorMessage"></span>
                    </div>
                    <div class="btn_grp">
                        <a href="#" class="btn prev prev-field">&lt;</a>
                        <!--
                            -->
                        <a href="#" class="btn next next-field" style="margin-left: -4px;">&gt;</a>
                    </div>
                </div>
                <div class="ui2_input_wrap_full">
                    <label>ToolTip:</label>
                    <div class="ui2_input_wrapper">
                        <input type="text" data-bind="value: selectedField() != null ? selectedField().tooltip : null, valueUpdate: ['input']">
                    </div>
                </div>
<!--                <div class="ui2_input_wrap_full" data-bind="visible: selectedField() != null && (selectedField().fieldType() == 2 )">-->
<!--                    <label>Format:</label>-->
<!--                    <div class="ui2_input_wrapper">-->
<!--                        <select data-bind="options: regularExpressions, optionsText: 'name', optionsValue: 'expression', value: selectedField() != null ? selectedField().regularExpression : null, optionsCaption: 'Please select'"></select>-->
<!--                    </div>-->
<!--                </div>-->
                <div class="ui2_input_wrap_full" data-bind="visible: selectedField() != null && (selectedField().fieldType() == 2 || selectedField().fieldType() == 3 || selectedField().fieldType() == 4) ">
                    <label>Default value:</label>
                    <div class="ui2_input_wrapper">
                        <input type="text" data-bind="value: selectedField() != null ? selectedField().defaultValue : null, valueUpdate: ['input']" />
                    </div>
                </div>
                <div class="ui2_input_wrap_full" data-bind="if: selectedField() != null && selectedField().fieldType() == 6 ">
                    <label>Default value:</label>
                    <div class="ui2_input_wrapper">
                        <span class="checkbox" data-bind="css: { checked: selectedField() != null && selectedField().defaultValue() == 'on', unchecked: selectedField() != null && selectedField().defaultValue() != 'on' }, click: function (data, event) { selectedField().defaultValue() == 'on' ? selectedField().defaultValue('off') : selectedField().defaultValue('on'); }" style="margin: 0px;">
                            <img src="/content/images/checker.png" alt="checked">
                        </span>
                    </div>
<!--                    <label>Group Name:</label>-->
<!--                    <div class="ui2_input_wrapper">-->
<!--                        <input type="text" data-bind="value: selectedField() != null ? selectedField().groupName : null, valueUpdate: ['input']" />-->
<!--                    </div>-->
                    <div class="ui2_input_wrapper">
                        <label>Draw checkbox border: </label>
                        <div class="btn-group step_radio_2" data-toggle="buttons-radio">
                            <button class="btn " data-bind="css: { active: selectedField()!=null && selectedField().settings()!=null && selectedField().settings().checkboxBorder && selectedField().settings().checkboxBorder() }, click: function() { selectedField().settings().checkboxBorder(true);}">Yes</button>
                            <button class="btn " data-bind="css: { active: selectedField()!=null && selectedField().settings()!=null && selectedField().settings().checkboxBorder && !selectedField().settings().checkboxBorder() }, click: function() { selectedField().settings().checkboxBorder(false);}">No</button>
                        </div>
                    </div>
                </div>


<!--                <div class="ui2_input_wrap_full" data-bind="visible: selectedField() != null">-->
<!--                    <label>Guidance text:</label>-->
<!--                    <div class="ui2_input_wrapper">-->
<!--                        <textarea data-bind="value: selectedField() != null ? selectedField().guidanceText : null, valueUpdate: ['input']"></textarea>-->
<!--                    </div>-->
<!--                </div>-->

                <div class="ui2_input_wrap_full">
                    <label>Mandatory: </label>
                    <div class="btn-group step_radio_2" data-toggle="buttons-radio">
                        <button class="btn " data-bind="css: { active: selectedField() != null && selectedField().mandatory() }, click: function () { selectedField().mandatory(true); }">Yes</button>
                        <button class="btn " data-bind="css: { active: selectedField() != null && !selectedField().mandatory() }, click: function () { selectedField().mandatory(false); }">No</button>
                    </div>
                </div>
                <div class="ui2_input_wrap_full">
                    <label>Field Type: </label>
                    <div class="ui2_input_wrapper">
                        <select data-bind="options: signatureFields, optionsText: 'name', optionsValue: 'fieldType', value: selectedFieldType"></select>
                    </div>
                </div>
                <!-- ko if: selectedField()!=null && selectedField().fieldType()==1 -->
                <div class="ui2_input_wrap_full">
                    <label>Match Width/Height: </label>
                    <div class="btn-group step_radio_2" data-toggle="buttons-radio">
                        <button class="btn " data-bind="css: { active: selectedField()!=null && selectedField().settings()!=null && selectedField().settings().matchWidth && selectedField().settings().matchWidth() }, click: function() { selectedField().settings().matchWidth(true); selectedField().settings().matchHeight(false);}">Width</button>
                        <button class="btn " data-bind="css: { active: selectedField()!=null && selectedField().settings()!=null && selectedField().settings().matchHeight && selectedField().settings().matchHeight() }, click: function() { selectedField().settings().matchWidth(false); selectedField().settings().matchHeight(true);}">Height</button>
                    </div>
                </div>
                <!-- /ko -->
                <div class="ui2_input_wrap_full">
                    <a href="#" class="btn copy-field">Copy</a>
                    <a href="#" class="btn paste-field" data-bind="visible: copiedLocation()!=null || copiedField()!=null, css: { disabled: copiedLocation()==null || copiedField()==null }">Paste</a>
                </div>
                <div class="ui2_input_wrap_full">
                    <a href="#" class="text_btn close_settings"> Close Settings</a>
                </div>
            </div>
            <div id="dropdown_values">
                <ul class="dropdown_values_list" data-bind="foreach: selectedField() != null ? selectedField().acceptableValuesArray : null">
                    <li data-bind="css: { active: $root.selectedField().defaultValue() == $data }">
                        <span class="checkbox2" data-bind="css: { checked2: $root.selectedField().defaultValue() == $data, unchecked2: $root.selectedField().defaultValue() != $data }"><input type="checkbox" class="checkbox2"></span>
                        <p>
                            <!-- ko text: $data -->Value 1<!-- /ko -->
                            <a href="#" class="list_tools delete toolTip" rel="tooltip" title="Delete" data-bind="tooltip: { fx: {} }" data-container="body"></a>
                        </p>
                    </li>
                </ul>
                <div class="ui2_input_wrap_full">
                    <label>Add New Item: </label>
                    <div class="ui2_input_wrapper">
                        <input type="text" style="width: 193px;" data-bind="value: newAcceptableValue, valueUpdate: ['input']">
                        <a href="#" class="red_button" data-bind="click: addAcceptableValue">Add</a>
                        <span data-bind="validationMessage: newAcceptableValue" class="errorMessage"></span>
                    </div>
                </div>
                
                
                <div class="ui2_input_wrap_full">
                    <a href="#" class="btn copy-field">Copy</a>
                    <a href="#" class="btn paste-field" data-bind="visible: copiedLocation()!=null || copiedField()!=null, css: { disabled: copiedLocation()==null || copiedField()==null }">Paste</a>
                </div>
                <div class="ui2_input_wrap_full">
                    <a href="#" class="text_btn close_settings"> Close Settings</a>
                </div>
            </div>
            <div id="date_settings">
                <!-- ko if: selectedField()!=null && selectedField().fieldType()==4 -->
                <div class="ui2_input_wrap_full">
                    <label>Show month/year dropdowns: </label>
                    <div class="btn-group step_radio_2" data-toggle="buttons-radio">
                        <button class="btn " data-bind="css: { active: selectedField()!=null && selectedField().settings()!=null && selectedField().settings().showMonthYearDropdowns && selectedField().settings().showMonthYearDropdowns() }, click: function() { selectedField().settings().showMonthYearDropdowns(true); }">Yes</button>
                        <button class="btn " data-bind="css: { active: selectedField()!=null && selectedField().settings()!=null && selectedField().settings().showMonthYearDropdowns && !selectedField().settings().showMonthYearDropdowns() }, click: function() { selectedField().settings().showMonthYearDropdowns(false); }">No</button>
                    </div>
                </div>
                <!-- ko if: dateFormats().length>0 -->
                <div class="ui2_input_wrap_full">
                    <label>Format:</label>
                    <div class="ui2_input_wrapper">
                        <select data-bind="options: dateFormats(), value: selectedField()!=null && selectedField().settings()!=null && selectedField().settings().dateFormat !=null ? selectedField().settings().dateFormat : null"></select>
                    </div>
                </div>
                <!-- /ko -->
                <div class="ui2_input_wrap_full">
                    <label>Min year: </label>
                    <div class="ui2_input_wrapper">
                        <input type="text" style="width: 220px;" data-bind="value: selectedField()!=null && selectedField().settings()!=null && selectedField().settings().minYear !=null ? selectedField().settings().minYear : null, valueUpdate: ['input'], spinner: {}">
                        <span data-bind="validationMessage: selectedField()!=null && selectedField().settings()!=null && selectedField().settings().minYear !=null ? selectedField()!=null && selectedField().settings()!=null && selectedField().settings().minYear : ko.observable().extend({ requied: false, number: false })" class="errorMessage"></span>
                    </div>
                </div>
                <div class="ui2_input_wrap_full">
                    <label>Max year: </label>
                    <div class="ui2_input_wrapper">
                        <input type="text" style="width: 220px;" data-bind="value: selectedField()!=null && selectedField().settings()!=null && selectedField().settings().maxYear !=null ? selectedField().settings().maxYear : null, valueUpdate: ['input'], spinner: {}">
                        <span data-bind="validationMessage: selectedField()!=null && selectedField().settings()!=null && selectedField().settings().maxYear !=null ? selectedField()!=null && selectedField().settings()!=null && selectedField().settings().maxYear : ko.observable().extend({ required: false, number: false })" class="errorMessage"></span>
                    </div>
                </div>
                <div class="ui2_input_wrap_full">
                    <a href="#" class="btn copy-field">Copy</a>
                    <a href="#" class="btn paste-field" data-bind="visible: copiedLocation()!=null || copiedField()!=null, css: { disabled: copiedLocation()==null || copiedField()==null }">Paste</a>
                </div>
                <div class="ui2_input_wrap_full">
                    <a href="#" class="text_btn close_settings"> Close Settings</a>
                </div>
                <!-- /ko -->
            </div>
            <div id="text_settings">
                <div class="ui2_input_wrap_full">
                    <label>Max Length: </label>
                    <div class="ui2_input_wrapper">
                        <input type="text" style="width: 220px;" data-bind="value: selectedField()!=null && selectedField().settings()!=null && selectedField().settings().maxLength !=null ? selectedField().settings().maxLength : null, valueUpdate: ['input'], spinner: {}">
                        <span data-bind="validationMessage: selectedField()!=null && selectedField().settings()!=null && selectedField().settings().maxLength !=null ? selectedField()!=null && selectedField().settings()!=null && selectedField().settings().maxLength : ko.observable().extend({ requied: false, number: false })" class="errorMessage"></span>
                    </div>
                </div>
                <div class="ui2_input_wrap_full">
                    <a href="#" class="btn copy-field">Copy</a>
                    <a href="#" class="btn paste-field" data-bind="visible: copiedLocation()!=null || copiedField()!=null, css: { disabled: copiedLocation()==null || copiedField()==null }">Paste</a>
                </div>
                <div class="ui2_input_wrap_full">
                    <a href="#" class="text_btn close_settings"> Close Settings</a>
                </div>
            </div>
        </div>

    </div>

</div>	