<style type="text/css">
    div.doc-page {
        display: block;
    }

    .foreign {
        opacity: 0.3;
    }

    span.toolbar-container {
        position: absolute;
        top: 0;
        display: block;
        left: 0;
        z-index: 1001;
    }

    .ui-resizable-handle {
        z-index: 999;
    }

    .signature_doc_field .progress {
        height: 99%;
    }

    .signature_doc_field .progress-bar {
        height: 100%;
        background-color: #125389;
        opacity: 0.5;
    }

    .signature_doc_field .progress-label {
        width: 100%;
        top: 50%;
        position: absolute;
        margin-top: -6px;
    }

    .ta_tp_color {
        width: 78px;
    }

    .ta_tp_font {
        width: 72px;
    }

    .ta_tp_font_size {
        width: 105px;
    }

    .ta_tp_font_size_adjust {
        width: 106px;
    }

    .ta_tp_text_alignment {
        width: 145px;
    }

    .signature_doc_field .dropdown, .signature_doc_field .dropdown button {
        height: 100%;
        width: 100%;
    }

    .signature_doc_field .dropdown ul {
        width: 100%;
        line-height: initial !important;
    }

    .signature_doc_field .dropdown a {
        line-height: initial;
    }

    .signature_doc_field .dropdown button .caret, .field_in_document .caret {
        float: right;
    }
    .signature_doc_field .dropdown span {
        margin-left: 5px !important;
        margin-right: 5px !important;
    }

    .field_in_document .btn {
        vertical-align: top;
        display: table; /**/
    }

    .field_in_document .btn span {
        margin-left: 5px !important;
        margin-right: 5px !important;
        display: table-cell; /**/
        vertical-align: middle; /**/
    }

    .field_in_document .btn > span:first-child {
        width: 100%;
    }
</style>

<textarea readonly="readonly" rows="1" cols="1" id="selection-content"></textarea>
<div id="doc_viewer" data-bind="css: { 'doc_viewer': _mode == 'embed', 'centered_doc': _mode != 'embed' }, attr: { id: docViewerId }" class="signature-viewer doc_viewer" style="overflow: visible;">
    <div id="pages-container" class="pages_container">
        <!-- ko foreach: { data: pages, as: 'page' } -->
        <!-- ko if: url()!=''-->
        <div class="doc-page" data-bind="pageId: number, attr: { id: $parent.pagePrefix + number }, style: { width: ($parent.pageWidth() == 0 ? '100%' : $parent.pageWidth() + 'px') }, dropField: { fx: {} }">
            <div class="viewer_loading_overlay" data-bind="visible: $root.inprogress() || !visible(), style: { width: ($parent.pageWidth() == 0 ? '100%' : $parent.pageWidth()*$parent.scale() + 'px') }" style="height: 1100px; position: absolute; left: 34px; top: 0px;">
                <div class="loading_overlay_message">
                    <span class="progresspin"></span>
                    <p>Loading your content...</p>
                </div>
            </div>
            <!-- ko with: $root.vm -->
            <!-- ko if: viewerAction=='sign' && typeof(getActiveLocation)!='undefined' && getActiveLocation()==null && page.number==1 && hideStartButton()!=null && !hideStartButton() -->
            <a href="#" class="red_button start_embed_sig" style="right: -60px; display: none;" data-bind="click: activateNextLocation, visible: !$root.inprogress()">Start</a>
            <!-- /ko -->

            <a href="#" id="next_field_marker" style="display: none; position: fixed;" class="embed_next_field"></a>

            <!-- ko if: viewerAction!='signed' -->
            <!-- ko foreach: { data: fields, as: 'field' } -->
            <!-- ko foreach: { data: locations, as: 'location' } -->
            <!-- ko if: (location.page())==$parents[2].number -->
            <div data-bind="template: {name: $parent.templateName(), data: $data}"></div>
            <!-- /ko -->
            <!-- /ko -->
            <!-- /ko -->
            <!-- /ko -->
            <!-- /ko -->
            <div>
                <img class="page-image" data-bind="attr: { id: $root.docViewerId + '-img-' + number, src: (visible() ? url : '') }"/>
            </div>
        </div>
        <!-- /ko -->
        <!-- /ko -->
    </div>
</div>

<script type="text/html" id="signature-field-template">
    <!-- ko if: $root.vm.viewerAction=='prepare' -->
    <div class="field_in_document signature_doc_field toolTip" rel="tooltip" data-placement="top"
         data-bind="
            calculatePosition: location,
            moveExistingField: { enable: $root.vm.viewerAction == 'prepare' && $root.vm.isOwnField(field) },
            css: { active: location.selected(), own: $root.vm.isOwnField(field), foreign: !$root.vm.isOwnField(field) },
            resizeField: { enable: $root.vm.viewerAction=='prepare' && $root.vm.isOwnField(field) },
            tooltip: {},
            fieldTooltipText: {}">
        <span class="star_required" data-bind="css: { 'star_required': field.mandatory(), 'star_not_required': !field.mandatory() } "></span>
        <!-- ko if: !$root.vm.config.checkBrowserForSvgSupport() -->
        <span class="sig_background"></span>
        <!-- /ko -->
        <!-- ko if: $root.vm.config.checkBrowserForSvgSupport() -->
        <span data-bind="html: $root.signatureBackgroundSvg"></span>
        <!-- /ko -->
        <a href="#" class="popclose" data-bind="visible: !location.selected() && $root.vm.viewerAction=='prepare' && $root.vm.isOwnField(field)"></a>
        <span data-bind="template: { name: location.selected() ? 'field-settings-toolbar' : 'field-settings-toolbar-empty' }" class="toolbar-container"></span>
    </div>
    <!-- /ko -->
    <!-- ko if: $root.vm.viewerAction=='sign' -->
    <div style="position: absolute; cursor: pointer;" class="signature_doc_field signature_doc_field_signature" data-placement="top"
         data-bind="calculatePosition: location,
            tooltip: {},
            css: { 'error': !field.isValid() && !location.selected(), selected_field: location.selected(), foreign: !$root.vm.isOwnField(field), 'sign_input_field': $root.vm.isOwnField(field) },
            fieldTooltipText: {},
            moveExistingField: { enable: !field.lockDuringSign() },
            resizeField: { enable: !field.lockDuringSign() }">
        <div data-bind="moveInViewport: location.selected(), calculateFieldSize: {} ">
            <!-- ko if: field.data()!=null && field.data().length>0 -->
            <!-- ko if: field.data().substring(0,4)=='<svg' -->
            <div data-bind="html: field.data, visible: field.data() != '', calculateFieldSize: {}" />
            <!-- /ko -->
            <!-- ko if: field.data().substring(0,4)!='<svg' -->
            <img style="width: 100%; height: 100%;" data-bind="attr: { src: field.data }, visible: field.data() != ''" />
            <!-- /ko -->
            <!-- /ko -->
            <!-- ko if: field.data()!=null && field.data().length==0 -->
            <img data-bind="style: { width: location.locationWidth() + 'px', height: location.locationHeight() + 'px' }, visible: field.data() != ''" />
            <!-- /ko -->
            <!-- ko if: !$root.vm.config.checkBrowserForSvgSupport() && (field.data()==null || field.data()=='') -->
            <span class="sig_background"></span>
            <!-- /ko -->
            <!-- ko if: $root.vm.config.checkBrowserForSvgSupport()  && (field.data()==null || field.data()=='') -->
            <span data-bind="html: $root.signatureBackgroundSvg"></span>
            <!-- /ko -->
        </div>
        <i data-bind="popover: {}, visible: field.guidanceText() != '', attr: { 'data-content': field.guidanceText() }" class="info-icon" rel="popover" data-placement="top"></i>
    </div>
    <!-- /ko -->
</script>
<script type="text/html" id="singleline-field-template">
    <!-- ko if: $root.vm.viewerAction=='prepare' || ($root.vm.viewerAction=='sign' && !$root.vm.isOwnField(field) )  -->
    <div class="field_in_document signature_doc_field toolTip" rel="tooltip" data-placement="top"
         data-bind="
            calculatePosition: location,
            moveExistingField: { enable: $root.vm.viewerAction == 'prepare' && $root.vm.isOwnField(field) },
            css: { active: location.selected(), own: $root.vm.isOwnField(field), foreign: !$root.vm.isOwnField(field) },
            resizeField: { enable: $root.vm.viewerAction=='prepare' && $root.vm.isOwnField(field) },
            tooltip: {},
            fieldTooltipText: {}">
        <span class="star_required" data-bind="css: { 'star_required': field.mandatory(), 'star_not_required': !field.mandatory() } "></span>
        <span class="field_content" data-bind="text: $root.vm.viewerAction=='prepare' ? field.name : field.data, signatureFieldStyle: location">Single line text field_1</span>
        <span class="field_on_doc_icon fod_icon_text"></span>
        <div class="ui-resizable-handle  ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 1001; display: block;" data-bind="visible: $root.vm.viewerAction=='prepare' && $root.vm.isOwnField(field)"></div>
        <a href="#" class="popclose" data-bind="visible: !location.selected() && $root.vm.viewerAction=='prepare' && $root.vm.isOwnField(field)"></a>
        <span data-bind="template: { name: location.selected() && $root.vm.isOwnField(field)? 'field-settings-toolbar' : 'field-settings-toolbar-empty' }" class="toolbar-container"></span>
    </div>
    <!-- /ko -->
    <!-- ko if: $root.vm.viewerAction=='sign' && $root.vm.isOwnField(field) -->
    <div class="toolTip signature_doc_field" rel="tooltip" data-placement="top" style="position: absolute;"
         data-bind="calculatePosition: location,
            moveExistingField: { enable: !field.lockDuringSign() },
            resizeField: { enable: !field.lockDuringSign() }">
        <span class="star_required" data-bind="css: { 'star_required': field.mandatory(), 'star_not_required': !field.mandatory() } "></span>
        <input type="text" class="sign_input_field"
               data-bind="value: field.data,
                          valueUpdate: ['keyup'],
                          signatureFieldStyle: location,
                          css: { selected_field: location.selected(), 'error': !field.isValid() && !location.selected() },
                          moveInViewport: location.selected(),
                          tooltip: {},
                          fieldTooltipText: {}
            ">
        <span class="field_on_doc_icon fod_icon_text"></span>
        <i data-bind="popover: {}, visible: field.guidanceText() != '', attr: { 'data-content': field.guidanceText() }" class="info-icon" rel="popover" data-placement="top"></i>
    </div>
    <!-- /ko -->
</script>
<script type="text/html" id="multiline-field-template">
    <!-- ko if: $root.vm.viewerAction=='prepare' || ($root.vm.viewerAction=='sign' && !$root.vm.isOwnField(field) ) -->
    <div class="field_in_document signature_doc_field toolTip" rel="tooltip" data-placement="top"
         data-bind="moveExistingField: { enable: $root.vm.viewerAction=='prepare' && $root.vm.isOwnField(field) },
            calculatePosition: location,
            css: { active: location.selected(), own: $root.vm.isOwnField(field), foreign: !$root.vm.isOwnField(field) },
            resizeField: { enable: $root.vm.viewerAction=='prepare' && $root.vm.isOwnField(field) },
            tooltip: {},
            fieldTooltipText: {}">
        <span class="star_required" data-bind="css: { 'star_required': field.mandatory(), 'star_not_required': !field.mandatory() } "></span>
        <span class="field_content" data-bind="text: $root.vm.viewerAction == 'prepare' ? field.name : field.data, signatureFieldStyle: location">Multiline text field_1</span>
        <span class="field_on_doc_icon fod_icon_multitext"></span>
        <div class="ui-resizable-handle ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 1001; display: block;" data-bind="visible: $root.vm.viewerAction=='prepare' && $root.vm.isOwnField(field)"></div>
        <a href="#" class="popclose" data-bind="visible: !location.selected() && $root.vm.viewerAction=='prepare' && $root.vm.isOwnField(field)"></a>
        <span data-bind="template: { name: 'field-settings-toolbar' }, visible: location.selected() && $root.vm.isOwnField(field) " class="toolbar-container"></span>
    </div>
    <!-- /ko -->
    <!-- ko if: $root.vm.viewerAction=='sign' && $root.vm.isOwnField(field) -->
    <div class="toolTip signature_doc_field" rel="tooltip" data-placement="top" style="position: absolute;"
         data-bind="calculatePosition: location,
            moveExistingField: { enable: !field.lockDuringSign() },
            resizeField: { enable: !field.lockDuringSign() }">
        <span class="star_required" data-bind="css: { 'star_required': field.mandatory(), 'star_not_required': !field.mandatory() } "></span>
        <textarea class="sign_input_field" style="resize: none;" data-bind="value: field.data, valueUpdate: ['keyup'],
                          signatureFieldStyle: location,
                          css: { 'error': !field.isValid() && !location.selected(), selected_field: location.selected() },
                          moveInViewport: location.selected(),
                          tooltip:{},
                          fieldTooltipText: {}"></textarea>
        <span class="field_on_doc_icon fod_icon_multitext"></span>
        <i data-bind="popover: {}, visible: field.guidanceText() != '', attr: { 'data-content': field.guidanceText() }" class="info-icon" rel="popover" data-placement="top"></i>
    </div>
    <!-- /ko -->
</script>
<script type="text/html" id="date-field-template">
    <!-- ko if: $root.vm.viewerAction=='prepare' || ($root.vm.viewerAction=='sign' && !$root.vm.isOwnField(field) )  -->
    <div class="field_in_document signature_doc_field toolTip" rel="tooltip" data-placement="top"
         data-bind="moveExistingField: { enable: $root.vm.viewerAction=='prepare' && $root.vm.isOwnField(field) },
            calculatePosition: location,
            css: { active: location.selected(), own: $root.vm.isOwnField(field), foreign: !$root.vm.isOwnField(field) },
            resizeField: { enable: $root.vm.viewerAction=='prepare' && $root.vm.isOwnField(field)},
            tooltip: {},
            fieldTooltipText: {}">
        <span class="star_required" data-bind="css: { 'star_required': field.mandatory(), 'star_not_required': !field.mandatory() } "></span>
        <span class="field_content" data-bind="text: $root.vm.viewerAction == 'prepare' ? field.name : field.data, signatureFieldStyle: location">Date_1</span>
        <span class="field_on_doc_icon fod_icon_date"></span>
        <div class="ui-resizable-handle ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 1001; display: block;" data-bind="visible: $root.vm.viewerAction=='prepare' && $root.vm.isOwnField(field)"></div>
        <a href="#" class="popclose" data-bind="visible: !location.selected() && $root.vm.viewerAction=='prepare' && $root.vm.isOwnField(field)"></a>
        <span data-bind="template: { name: location.selected() && $root.vm.isOwnField(field) ? 'field-settings-toolbar' : 'field-settings-toolbar-empty' }" class="toolbar-container"></span>
    </div>
    <!-- /ko -->
    <!-- ko if: $root.vm.viewerAction=='sign' && $root.vm.isOwnField(field) -->
    <div class="signature_doc_field" style="position: absolute;" rel="tooltip" data-placement="top" data-bind="calculatePosition: location,
            moveExistingField: { enable: !field.lockDuringSign() },
            resizeField: { enable: !field.lockDuringSign() }">
        <span class=" star_required" data-bind="css: { 'star_required': field.mandatory(), 'star_not_required': !field.mandatory() } ">
        </span>
        <input type="text" readonly="readonly" title="Please click to select a date" style="cursor: pointer; background: none repeat scroll 0px 0px rgb(255, 255, 255); border: 1px dashed rgb(18, 83, 137);" class="sign_input_field" data-bind="value: field.data,
                          signatureFieldStyle: location,
                          datePicker: { dateFormat: field.settings()!=null && field.settings().dateFormat !=null ? field.settings().dateFormat() : 'dd.mm.yy' },
                          css: { 'error': !field.isValid() && !location.selected(), selected_field: location.selected() },
                          moveInViewport: location.selected(),
                          tooltip:{},
                          fieldTooltipText: {}">
        <span class="field_on_doc_icon fod_icon_date"></span>
        <i data-bind="popover: {}, visible: field.guidanceText() != '', attr: { 'data-content': field.guidanceText() }" class="info-icon" rel="popover" data-placement="top"></i>
    </div>
    <!-- /ko -->
</script>
<script type="text/html" id="dropdown-field-template">
    <!-- ko if: $root.vm.viewerAction=='prepare' || ($root.vm.viewerAction=='sign' && !$root.vm.isOwnField(field) ) -->
    <div class="field_in_document signature_doc_field toolTip" rel="tooltip" data-placement="top"
         data-bind="moveExistingField: { enable: $root.vm.viewerAction=='prepare' && $root.vm.isOwnField(field)},
            calculatePosition: location,
            css: { active: location.selected(), own: $root.vm.isOwnField(field), foreign: !$root.vm.isOwnField(field), 'error': !field.isValid() && !location.selected() },
            resizeField: { enable: $root.vm.viewerAction=='prepare' && $root.vm.isOwnField(field)},
            tooltip: {},
            fieldTooltipText: {}">
        <span class="star_required" data-bind="css: { 'star_required': field.mandatory(), 'star_not_required': !field.mandatory() } "></span>
        <!-- ko if: $root.vm.viewerAction=='prepare' -->
        <div class="field_on_doc_wrapper">
            <!--
            <select data-bind="options: field.acceptableValuesArray, value: field.defaultValue, signatureFieldStyle: location"></select>
            <div style="position: absolute; top: 0px; display: inline; left: 0px; height: 100%; width: 85%; z-index: 1; background: url('/content/images/bg/alpha_bgr.png')">&nbsp;</div>
-->
            <div class="btn" data-bind="signatureFieldStyle: location">
                <span data-bind="text: field.defaultValue">Dropdown</span>
                <span><span class="caret"></span></span>
            </div>
        </div>


        <!-- /ko -->
        <!-- ko if: $root.vm.viewerAction=='sign' && !$root.vm.isOwnField(field) -->
        <span class="field_content" data-bind="text: field.data"></span>
        <!-- /ko -->
        <div class="ui-resizable-handle ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 1001; display: block;" data-bind="visible: $root.vm.viewerAction=='prepare' && $root.vm.isOwnField(field)"></div>
        <a href="#" class="popclose" data-bind="visible: !location.selected() && $root.vm.viewerAction=='prepare' && $root.vm.isOwnField(field)"></a>
        <span data-bind="template: { name: location.selected() && $root.vm.isOwnField(field) ? 'field-settings-toolbar' : 'field-settings-toolbar-empty' }" class="toolbar-container"></span>
    </div>
    <!-- /ko -->
    <!-- ko if: $root.vm.viewerAction=='sign' && $root.vm.isOwnField(field) -->
    <div class="signature_doc_field" style="position: absolute;" rel="tooltip" data-placement="top" data-bind="calculatePosition: location,
            moveExistingField: { enable: !field.lockDuringSign() },
            resizeField: { enable: !field.lockDuringSign() }">
        <span class="star_required" data-bind="css: { 'star_required': field.mandatory(), 'star_not_required': !field.mandatory() } "></span>
        <div class="dropdown sign_input_field" data-bind="fieldDropdown: field,
                signatureFieldStyle: location,
                css: { 'error': !field.isValid() && !location.selected(), selected_field: location.selected() },
                moveInViewport: location.selected(),
                tooltip:{},
                fieldTooltipText: {}
            ">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true" data-bind="signatureFieldStyle: location">
                <span data-bind="text: field.data()">Dropdown</span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <!-- ko foreach: field.acceptableValuesArray() -->
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#" data-bind="text: $data">Another link</a></li>
                <!-- /ko -->
            </ul>
        </div>
        <i data-bind="popover: {}, visible: field.guidanceText() != '', attr: { 'data-content': field.guidanceText() }" class="info-icon" rel="popover" data-placement="top"></i>
    </div>
    <!-- /ko -->
</script>
<script type="text/html" id="checkbox-field-template">
    <!-- ko if: $root.vm.viewerAction=='prepare' || ($root.vm.viewerAction=='sign' && !$root.vm.isOwnField(field) )  -->
    <div class="field_in_document signature_doc_field toolTip" rel="tooltip" data-placement="top"
         data-bind="moveExistingField: { enable: $root.vm.viewerAction=='prepare' && $root.vm.isOwnField(field) },
            calculatePosition: location,
            css: { active: location.selected(), own: $root.vm.isOwnField(field), foreign: !$root.vm.isOwnField(field) },
            resizeField: { enable: $root.vm.viewerAction=='prepare' && $root.vm.isOwnField(field)},
            tooltip: {},
            fieldTooltipText: {}">
        <span class="star_required" data-bind="css: { 'star_required': field.mandatory(), 'star_not_required': !field.mandatory() } "></span>
        <span class="check_box_icon" style="margin: 0px;" data-bind="css: { 'check_box_icon': $root.vm.viewerAction == 'prepare', 'checkbox': $root.vm.viewerAction == 'sign', 'checked': field.data() == 'on', 'unchecked':  field.data() != 'on' }">
            <img src="/content/images/checker.png" alt="checked">
        </span>
        <div class="ui-resizable-handle ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 1001; display: block;" data-bind="visible: $root.vm.viewerAction=='prepare' && $root.vm.isOwnField(field)"></div>
        <a href="#" class="popclose" data-bind="visible: !location.selected() && $root.vm.viewerAction=='prepare' && $root.vm.isOwnField(field)"></a>
        <span data-bind="template: { name: location.selected() && $root.vm.isOwnField(field) ? 'field-settings-toolbar' : 'field-settings-toolbar-empty' }" class="toolbar-container"></span>
    </div>
    <!-- /ko -->
    <!-- ko if: $root.vm.viewerAction=='sign' && $root.vm.isOwnField(field) -->
    <div style="position: absolute; border: none;" rel="tooltip" data-placement="top" class="sign_input_field signature_doc_field" data-bind="calculatePosition: location,
            attr: { 'data-original-title' : field.isValid() ? (!location.selected() ? field.tooltip()!='' ? field.tooltip() : field.name() : '') : field.data.error, 'data-mandatory':field.mandatory() },
            tooltip: {},
            css: { 'error': !field.isValid() && !location.selected(), selected_field: location.selected(), foreign: !$root.vm.isOwnField(field) },
            fieldTooltipText: {},
            moveExistingField: { enable: !field.lockDuringSign() },
            resizeField: { enable: !field.lockDuringSign() }" data-placement="top">
        <span class="star_required" data-bind="css: { 'star_required': field.mandatory(), 'star_not_required': !field.mandatory() } "></span>
        <!-- ko if: !$root.vm.config.checkBrowserForSvgSupport() -->
        <span class="checkbox" data-bind="fieldCheckbox: {}, moveInViewport: location.selected()" style="margin: 0px;">
            <img src="/content/images/checker.png" alt="checked">
        </span>
        <!-- /ko -->
        <!-- ko if: $root.vm.config.checkBrowserForSvgSupport() -->
        <span class="svg_checkbox" data-bind="svgFieldCheckbox: {}, moveInViewport: location.selected()">
            <!-- ko if: field.data()==null || field.data()=='' || field.data()=='off' -->
            <svg xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" version="1.0" width="100%" height="100%" viewBox="0 0 28 28">
                <rect width="19" height="19" x="4.5" y="4.5" id="box" style="fill:none;stroke:#000000;stroke-width:1;stroke-opacity:0.33000004" />
            </svg>
            <!-- /ko -->
            <!-- ko if: field.data()!=null && field.data()=='on' -->
            <svg xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" version="1.0" width="100%" height="100%" viewBox="0 0 28 28">
                <path d="M 11.94,20.25 8.7,13.64 C 7.5836008,11.362408 8.7449524,11.954942 9.234963,12.670011 12.802978,17.461386 11.781076,19.309624 14.75,13.24 L 20.707,1.0616 C 21.19746,0.0424868 21.563475,1.05578 21.049,2.27 l -6.488,17.07 c -0.381549,1.003861 -1.786,2.05 -2.621,0.9 l -10e-4,0.005 10e-4,0.005 z" />
                <rect width="19" height="19" x="4.5" y="4.5" id="box" style="fill:none;stroke:#000000;stroke-width:1;stroke-opacity:0.33000004" />
            </svg>
            <!-- /ko -->
        </span>
        <!-- /ko -->
        <i data-bind="popover: {}, visible: field.guidanceText() != '', attr: { 'data-content': field.guidanceText() }" class="info-icon" rel="popover" data-placement="top"></i>
    </div>
    <!-- /ko -->
</script>
<script type="text/html" id="file-field-template">
    <!-- ko if: $root.vm.viewerAction=='prepare' -->
    <div class="field_in_document signature_doc_field toolTip" rel="tooltip" data-placement="top"
         data-bind="
            calculatePosition: location,
            moveExistingField: { enable: $root.vm.viewerAction == 'prepare' && $root.vm.isOwnField(field) },
            css: { active: location.selected(), own: $root.vm.isOwnField(field), foreign: !$root.vm.isOwnField(field) },
            resizeField: { enable: $root.vm.viewerAction=='prepare' && $root.vm.isOwnField(field) },
            tooltip: {},
            fieldTooltipText: {}">
        <span class="star_required" data-bind="css: { 'star_required': field.mandatory(), 'star_not_required': !field.mandatory() } "></span>
        <span class="field_content" data-bind="text: field.name">File_1</span>
        <a href="#" class="popclose" data-bind="visible: !location.selected() && $root.vm.viewerAction=='prepare' && $root.vm.isOwnField(field)"></a>
        <span data-bind="template: { name: location.selected() ? 'field-settings-toolbar' : 'field-settings-toolbar-empty' }" class="toolbar-container"></span>
    </div>
    <!-- /ko -->
    <!-- ko if: $root.vm.viewerAction=='sign' -->
    <div style="position: absolute; cursor: pointer;" class="signature_doc_field" data-placement="top"
         data-bind="calculatePosition: location,
            tooltip: {},
            css: { 'error': !field.isValid() && !location.selected(), selected_field: location.selected(), foreign: !$root.vm.isOwnField(field), 'sign_input_field': $root.vm.isOwnField(field) },
            fieldTooltipText: {},
            moveExistingField: { enable: !field.lockDuringSign() },
            resizeField: { enable: !field.lockDuringSign() }">
        <div data-bind="moveInViewport: location.selected(), calculateFieldSize: {} " style="text-align: center;">
            <!-- ko if: field.data()!=null && field.data().length>2 && (field.progress()==0 || field.progress()==100) -->
            <div data-bind="text: 'File name: ' + JSON.parse(field.data()).name" style="position: relative; top: 50%; margin-top: -9px;">File uploaded</div>
            <!-- /ko -->
            <!-- ko if: field.data()!=null && field.data().length==0 -->
            <div style="height:100%; width: 100%; text-align: center;">
                <div style="position: relative; top: 50%; margin-top: -9px;">Click to upload file</div>
            </div>
            <!-- /ko -->
            <div class="progress" data-bind="visible: field.progress()>0 && field.progress()<100 ">
                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" data-bind="attr:{'aria-valuenow': field.progress()}, style: { width: field.progress() + '%' }">
                    <div data-bind="text: field.progress() + ' %'" class="progress-label"></div>
                </div>
            </div>
            <input type="file" class="file-input js-fileapi-wrapper" data-bind="event: { change: function(location, e) { $root.vm.fileUploaded(field, location, e); } }" style="font-size: 15px !important; width: 100% !important; height: 100% !important;">
        </div>
        <i data-bind="popover: {}, visible: field.guidanceText() != '', attr: { 'data-content': field.guidanceText() }" class="info-icon" rel="popover" data-placement="top"></i>
    </div>
    <!-- /ko -->
</script>
<script type="text/html" id="stamp-field-template">
    <!-- ko if: $root.vm.viewerAction=='prepare' -->
    <div class="field_in_document signature_doc_field toolTip" rel="tooltip" data-placement="top"
         data-bind="
            calculatePosition: location,
            moveExistingField: { enable: $root.vm.viewerAction == 'prepare' && $root.vm.isOwnField(field) },
            css: { active: location.selected(), own: $root.vm.isOwnField(field), foreign: !$root.vm.isOwnField(field) },
            resizeField: { enable: $root.vm.viewerAction=='prepare' && $root.vm.isOwnField(field) },
            tooltip: {},
            fieldTooltipText: {}">
        <span class="star_required" data-bind="css: { 'star_required': field.mandatory(), 'star_not_required': !field.mandatory() } "></span>
        <!-- ko if: !$root.vm.config.checkBrowserForSvgSupport() -->
        <span class="field_content" data-bind="text: field.name">Stamp_1</span>
        <!-- /ko -->
        <!-- ko if: $root.vm.config.checkBrowserForSvgSupport() -->
        <span data-bind="html: $root.stampBackgroundSvg"></span>
        <!-- /ko -->
        <a href="#" class="popclose" data-bind="visible: !location.selected() && $root.vm.viewerAction=='prepare' && $root.vm.isOwnField(field)"></a>
        <span data-bind="template: { name: location.selected() ? 'field-settings-toolbar' : 'field-settings-toolbar-empty' }" class="toolbar-container"></span>
    </div>
    <!-- /ko -->
    <!-- ko if: $root.vm.viewerAction=='sign' -->
    <div style="position: absolute; cursor: pointer;" class="signature_doc_field" data-placement="top"
         data-bind="calculatePosition: location,
            tooltip: {},
            css: { 'error': !field.isValid() && !location.selected(), selected_field: location.selected(), foreign: !$root.vm.isOwnField(field), 'sign_input_field': $root.vm.isOwnField(field) },
            fieldTooltipText: {},
            moveExistingField: { enable: !field.lockDuringSign() },
            resizeField: { enable: !field.lockDuringSign() }">
        <div data-bind="moveInViewport: location.selected(), calculateFieldSize: {} " style="text-align: center;">
            <!-- ko if: field.data()!=null && field.data().length>2 && (field.progress()==0 || field.progress()==100) -->
            <img style="width: 100%; height: 100%;" data-bind="attr: { src: JSON.parse(field.data()).data }, visible: field.data() != ''" />
            <!-- /ko -->
            <!-- ko if: field.data()!=null && field.data().length==0 -->
            <!-- ko if: !$root.vm.config.checkBrowserForSvgSupport() -->
            <div style="height:100%; width: 100%; text-align: center;">
                <div style="position: relative; top: 50%; margin-top: -9px;">Click to upload stamp</div>
            </div>
            <!-- /ko -->
            <!-- ko if: $root.vm.config.checkBrowserForSvgSupport() -->
            <span data-bind="html: $root.stampBackgroundSvg"></span>
            <!-- /ko -->
            <!-- /ko -->
        </div>
        <div class="progress" data-bind="visible: field.progress()>0 && field.progress()<100 ">
            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" data-bind="attr:{'aria-valuenow': field.progress()}, style: { width: field.progress() + '%' }">
                <div data-bind="text: field.progress() + ' %'" class="progress-label"></div>
            </div>
        </div>
        <input type="file" class="file-input js-fileapi-wrapper" data-bind="event: { change: function(location, e) { $root.vm.fileUploaded(field, location, e); } }" style="font-size: 15px !important; width: 100% !important; height: 100% !important;">
        <i data-bind="popover: {}, visible: field.guidanceText() != '', attr: { 'data-content': field.guidanceText() }" class="info-icon" rel="popover" data-placement="top"></i>
    </div>
    <!-- /ko -->
</script>
<script type="text/html" id="field-settings-toolbar-empty">
    &nbsp;
</script>
<script type="text/html" id="field-settings-toolbar">
    <div class="text_area_toolbar" data-bind="fieldSettingsToolbar: { fx: {}}">
        <a class="ta_move" href="#">
            <span class="ta_tooltip ta_tp_move">Move <span class="ta_tooltip_pointer"></span></span>
        </a>
        <div class="ta_tool_wrapper" data-bind="visible: field.fieldType()!=1 && field.fieldType()!=6 && field.fieldType()!=8">
            <span class="ta_tooltip ta_tp_color">Select Color<span class="ta_tooltip_pointer"></span></span>
            <span class="ta_color_selected" data-bind="style: { backgroundColor: location.fontColor() }"></span>
            <a href="#" class="ta_dropdown_btn dropdown_menu_button"></a>
            <ul class="ta_dropdown dropdown_menu font_color">
                <li data-bind="repeat: $root.vm.config.fontColors"> <a href="#" class="ta_color_sel" data-bind="    style: { backgroundColor: $item }, click: function () { location.fontColor($item()); return false; }"></a></li>
            </ul>
        </div>
        <div class="ta_tool_wrapper" data-bind="visible: field.fieldType()!=1 && field.fieldType()!=6 && field.fieldType()!=8">
            <span class="ta_tooltip ta_tp_font">Select Font<span class="ta_tooltip_pointer"></span></span>
            <span class="ta_font_selected" data-bind="text: location.fontName()"></span>
            <a href="#" class="ta_dropdown_btn dropdown_menu_button"></a>
            <ul class="ta_dropdown dropdown_menu font_name">
                <li data-bind="repeat: $root.vm.config.fontNames"><a href="#" data-bind="text: $item, click: function () { location.fontName($item()); return false;}"></a></li>
            </ul>
        </div>
        <div class="ta_tool_wrapper" data-bind="visible: field.fieldType()!=1 && field.fieldType()!=6 && field.fieldType()!=8">
            <span class="ta_tooltip ta_tp_font_size">Select Font Size<span class="ta_tooltip_pointer"></span></span>
            <span class="ta_size_selected" data-bind="text: location.fontSize()"></span>
            <a href="#" class="ta_dropdown_btn dropdown_menu_button"></a>
            <ul class="ta_dropdown dropdown_menu font_size">
                <li data-bind="repeat: $root.vm.config.fontSizes"><a href="#" data-bind="    text: $item, click: function () { location.fontSize($item()); return false; }"></a></li>
            </ul>
        </div>
        <div class="ta_tool_wrapper no_left_m" data-bind="visible: field.fieldType()!=1 && field.fieldType()!=6 && field.fieldType()!=8">
            <span class="ta_tooltip ta_tp_text_style">Adjust Text Style<span class="ta_tooltip_pointer"></span></span>
            <a href="#" class="text_control ta_bold" data-bind="css: { 'active': location.fontBold() }, click: function () { location.fontBold(!location.fontBold()); }"></a>
            <a href="#" class="text_control ta_italic" data-bind="css: { 'active': location.fontItalic() }, click: function () { location.fontItalic(!location.fontItalic()); }"></a>
            <a href="#" class="text_control ta_underline" data-bind="css: { 'active': location.fontUnderline() }, click: function () { location.fontUnderline(!location.fontUnderline()); }"></a>
        </div>
        <div class="ta_tool_wrapper" data-bind="visible: field.fieldType() != 1 && field.fieldType() != 6 && field.fieldType()!=8">
            <span class="ta_tooltip ta_tp_text_alignment">Adjust Text Alignment<span class="ta_tooltip_pointer"></span></span>
            <a href="#" class="text_control ta_align_left" data-bind="css: { 'active': location.align() == $root.vm.config.signatureFieldAlign.Left }, click: function () { location.align($root.vm.config.signatureFieldAlign.Left); }"></a>
            <a href="#" class="text_control ta_align_center" data-bind="css: { 'active': location.align() == $root.vm.config.signatureFieldAlign.Center }, click: function () { location.align($root.vm.config.signatureFieldAlign.Center); }"></a>
            <a href="#" class="text_control ta_align_right" data-bind="css: { 'active': location.align() == $root.vm.config.signatureFieldAlign.Right }, click: function () { location.align($root.vm.config.signatureFieldAlign.Right); }"></a>
        </div>
        <div class="ta_tool_wrapper" data-bind="visible: field.fieldType()!=1 && field.fieldType()!=6 && field.fieldType()!=8">
            <span class="ta_tooltip ta_tp_font_size_adjust">Adjust Font Size<span class="ta_tooltip_pointer"></span></span>
            <a href="#" class="ta_plus"></a>
            <a href="#" class="ta_minus"></a>
        </div>
        <div class="ta_tool_wrapper" data-bind="visible: field.fieldType()==6">
            <span class="ta_tooltip ta_tp_color">Select Color<span class="ta_tooltip_pointer"></span></span>
            <span class="ta_color_selected" data-bind="style: { backgroundColor: location.fontColor() }"></span>
            <a href="#" class="ta_dropdown_btn dropdown_menu_button"></a>
            <ul class="ta_dropdown dropdown_menu font_color">
                <li data-bind="repeat: $root.vm.config.fontColors"> <a href="#" class="ta_color_sel" data-bind="style: { backgroundColor: $item }, click: function () { location.fontColor($item()); return false; }"></a></li>
            </ul>
        </div>
        <div class="ta_del_wrapper">
            <span class="ta_tooltip ta_tp_del" data-bind="style:{top: (field.fieldType()!=1 && field.fieldType()!=6 && field.fieldType()!=8)? '6px':'inherited' }">Delete<span class="ta_tooltip_pointer"></span></span>
            <a href="#" class="ta_del"></a>
        </div>
    </div>
</script>