<span class="embed_viewer_icons icon1" data-bind="click: function () { selectPage(1); }"></span>
<span class="embed_viewer_icons icon2" data-bind="click: up"></span>
<p>Page</p>
<input type="text" name="textfield" id="textfield"  class="page_nmbr" data-bind="value: pageInd, event: { keyup: onKeyPress }"/>
<p>of <span data-bind="text: pageCount()" ></span></p>
<span class="embed_viewer_icons icon3" data-bind="click: down"></span>
<span class="embed_viewer_icons icon4" data-bind="click: function () { selectPage(this.pageCount()); }"></span>