.highlight-pane {
    position: relative;
    margin: 0px 37px;
}
.custom-pane{
	position: relative;
}
.search-pane{
	position: relative;
    margin: 0px 34px;
}
.highlight {
    border-style: none;
    cursor: text;
    font-size: 0;
    line-height: 0;
    position: absolute;
    z-index: 24;
}
.selection-highlight {
    background-color: #2288FF;
    opacity: 0.3;
    filter: alpha(opacity=20);
}
.search-highlight {
    background-color: green;
    opacity: 0.4;
    filter: alpha(opacity=50);
}
.template-selection-highlight {
    background-color: #2288FF;
    opacity: 0.2;
    filter: alpha(opacity=20);
}

.selection-check{
    background: url("../images/sprite1.png") no-repeat top left;
    position:absolute;
    background-position: -496px -127px;
    height: 16px;
    width: 16px;
    cursor:pointer;
}
.selection-del{
    background: url("../images/sprite1.png") no-repeat top left;
    background-position: -480px -127px;
    position:absolute;
	height: 16px;
    width: 16px;
    cursor:pointer;
}

#selection-content
{
	height: 32px;
    left: 0;
    position: absolute;
    top: -480px;
    width: 32px;
    display: none;
}
.embed_signature #doc_viewer_wrapper {
    bottom: 40px;
}

.embed_signature_footer {
    z-index: 100;
    left: 0;
    right: 0;
    bottom: 0;
}
.embed_signature_footer .red_button {
    margin: 5px 0;
    left: 50%;
    margin-left: -80px;
    position: relative;
}

.errorMessage { margin-left: 10px;color: red;}
#doc_viewer.centered_doc {
    margin: initial !important;
}
.viewer_header {
    background: none repeat scroll 0 0 #125389;
    border-bottom: 1px solid #073052;
    display: inline-block;
    height: 60px;
    position: relative;
    width: 100%;
}
.viewer_header .viewer_header_wrapper {
    overflow: visible;
    padding: 6px 15px;
}

.embedded_viewer_wrapper {
    top: 60px;
}

.colorcarousel.nextbtn {
    background-position: -56px -438px;
}

.colorcarousel.prevbtn {
    background-position: -26px -437px;
}

.colorcarousel {
    background: url(/gd-signature/embedded/images/sprites.png) no-repeat;
    width: 23px;
    height: 23px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    top: 5px;
    left: 0;
}

@-moz-document url-prefix() {
    .carousel-inner {
        width: 194px;
    }
}

    .signature_doc_field .dropdown, .signature_doc_field .dropdown button {
        height: 100%;
        width: 100%;
    }

    .signature_doc_field .dropdown ul {
        width: 100%;
        line-height: initial !important;
    }

    .signature_doc_field .dropdown a {
        line-height: initial;
    }

    .signature_doc_field .dropdown button .caret, .field_in_document .caret {
        float: right;
    }
    .signature_doc_field .dropdown span {
        margin-left: 5px !important;
        margin-right: 5px !important;
    }

    .field_in_document .btn {
        vertical-align: top;
        display: table; /**/
    }
.thumbnailsInnerContainer
{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    overflow: auto;
    position: relative;
}

.thumbnailsInnerContainer ul
{
    list-style-type: none;
    margin: 0;
}

.thumbnailsInnerContainer ul li.ui-selected
{
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.4);
    border: 0 none;
}

.thumbnailsInnerContainer ul li
{
    padding: 10px 0;
    text-align: center;
}

.thumbnailsInnerContainer ul li img
{
    border: 1px solid #BCBCBC;
    box-shadow: 3px 3px 6px #919191;
}

