<script type="text/javascript">
    if ($.browser.msie) {
        if ($.browser.version == 10) $("html").addClass("ie10");
        else $("html").addClass("ie");
    }
</script>

<style>
    .ie .nav-tabs:after {
        clear: none !important;
    }

    .ie10 .nav-tabs:after {
        clear: none !important;
    }

    .fonts-loader {
        width: 100%;
        margin-top: 30px;
    }

        .fonts-loader p {
            width: 150px;
            vertical-align: middle;
            line-height: 36px;
            margin: 0 auto;
        }

    .signature-carousel-item {
        /*
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: inline-flex;
        -webkit-flex-flow: row;
        */
        display: table-cell;
        vertical-align: top;
    }

    a.typed-signature:hover {
        text-decoration: none;
    }

    .pad {
        cursor: url("/content/images/pen.cur") 16 16, crosshair;
    }

    .svg-path {
        font-family: monospace;
        background: #ddd;
        padding: 8px;
        margin: 1em;
        word-wrap: break-word;
    }
</style>
<div style="display: none; padding: 0; border: 0; overflow: hidden;" class="modal-blue modal in" data-bind="modal: isVisible, modalOptions: { beforeShow: loadSignatures, afterShow: onPopupShow }, signatureCreateDialog: {}" data-backdrop="static">
    <div class="modal-header" style="height: 18px;">
        <a class="popclose" data-bind="click: hide"></a>
        <a id="popExpand" class="popexpand" style="cursor: pointer;"></a>
        <ul id="signature-tabs" class="nav nav-tabs">
            <li class="active" data-bind="visible: showTypeItTab">
                <a data-toggle="tab" href="#signatureType" data-bind="attr: { href: '#signatureType' + padIndex()}">Type</a>
            </li>
            <li data-bind="css: { 'active': !showTypeItTab() }">
                <a data-toggle="tab" href="#signatureDraw" data-bind="attr: { href: '#signatureDraw' + padIndex()}">Draw</a>
            </li>
            <li data-bind="visible: showUploadTab">
                <a data-toggle="tab" href="#signatureUpload" data-bind="attr: { href: '#signatureUpload' + padIndex()}">Upload</a>
            </li>
            <li data-bind="visible: showSelectTab" class="">
                <a data-toggle="tab" href="#signatureMy" data-bind="attr: { href: '#signatureMy' + padIndex()}">My Signatures</a>
            </li>
        </ul>
    </div>
    <div class="tab-content" style="width: 100%;">
        <div id="signatureType" class="tab-pane active" data-bind="attr: { id: 'signatureType' + padIndex()}, visible: showTypeItTab">
            <div class="modal-body">
                <input class="signature-name-input placeholder" id="signatureName" type="text" name="name" maxlength="40" placeholder="Type your signature" data-bind="value: signatureText, valueUpdate: ['keyup']">
                <!-- Added for Signature 3-->
                <div data-bind="visible: false && !fontsLoading()" class="signature-carousel-container">
                    <!-- ko if: !expanded() -->
                    <div style="margin: 10px 0 0;" data-bind="signaturesCarousel: {}">
                        <div style="margin: 10px 0 0;" class="signature-carousel">
                            <!-- ko foreach: { data: fontsArray } -->
                            <!-- ko template: { name: 'typeSignatureTemplate' }-->
                            <!-- /ko -->
                            <!-- /ko -->
                        </div>
                    </div>
                    <!-- /ko -->
                    <!-- ko if: expanded() -->
                    <div style="margin: 10px 0 0;" data-bind="signaturesCarousel: {}">
                        <div style="margin: 10px 0 0;" class="signature-carousel">
                            <!-- ko foreach: { data: fontsArray.slice(0,Math.round(fontsArray().length/2)+1) } -->
                            <!-- ko template: { name: 'typeSignatureTemplate' }-->
                            <!-- /ko -->
                            <!-- /ko -->
                        </div>
                        <div style="" class="signature-carousel">
                            <!-- ko foreach: { data: fontsArray.slice(Math.round(fontsArray().length/2)+1) } -->
                            <!-- ko template: { name: 'typeSignatureTemplate' }-->
                            <!-- /ko -->
                            <!-- /ko -->
                        </div>
                    </div>
                    <!-- /ko -->
                </div>
                <!-- Added for Signature 3-->
                <div class="fonts-loader" data-bind="visible: false && fontsLoading">
                    <p>
                        <span class="progresspin"></span>
                        <span>Loading fonts...</span>
                    </p>
                </div>
            </div>
            <div class="modal-footer">
                <div class="signature-add-label" style="padding-bottom: 11px; padding-right: 5px; float: left; padding-top: 5px;" data-bind="visible: showSaveButton">
                    <span data-bind="css: { checked: saveToMySignatures(), unchecked: !saveToMySignatures() }, click: function () { saveToMySignatures(saveToMySignatures() == false); }" class="checkbox checked" style="margin-top: 0;">
                        <input type="checkbox" data-bind="checked: saveToMySignatures" class="checkbox">
                    </span>
                    Add to "My Signatures"
                </div>
                <!-- Added for Signature 3 -->
                <div data-bind="visible: vectorPad() && !showTypeItTab()" style="float: left;">
                    <!-- ko if: $root.signatureColors().length==4 -->
                    <!-- ko foreach:{data: $root.signatureColors, as: 'cl'} -->
                    <div class="manage_color" title="Select pen color for signature" data-bind="click: function () { $parent.activeSignatureColor(cl); }, css: { active: $parent.activeSignatureColor() == cl }, style: { backgroundColor: cl }"></div>
                    <!-- /ko -->
                    <!-- /ko -->
                    <!-- ko if: $root.signatureColors().length>4 -->
                    <a class="left" href="#carousel-signature-colors-type" role="button" data-slide="prev">
                        <span class="colorcarousel prevbtn"></span>
                    </a>
                    <a class="right" href="#carousel-signature-colors-type" role="button" data-slide="next">
                        <span class="colorcarousel nextbtn"></span>
                    </a>
                    <div id="carousel-signature-colors-type" class="carousel slide" style="margin-bottom: 0;" data-interval="0">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <!-- ko foreach:{data: new Array(Math.ceil($root.signatureColors().length/4))} -->
                            <div class="item active" data-bind="css: { 'active': $index()==0 }">
                                <!-- ko foreach:{data: $root.signatureColors.slice($index()*4,($index()*4)+4), as: 'cl'} -->
                                <div class="manage_color" title="Select pen color for signature" data-bind="click: function () { $parents[1].activeSignatureColor(cl); }, css: { active: $parents[1].activeSignatureColor() == cl }, style: { backgroundColor: cl }"></div>
                                <!-- /ko -->
                            </div>
                            <!-- /ko -->
                        </div>
                    </div>
                    <!-- /ko -->
                </div>
                <div style="float: right;">
                    <a title="Cancel signature" class="text_btn" data-bind="click: hide" style="cursor: pointer;">Cancel</a>
                    <a class="red_button applyTypedSignature" title="Add signature" style="cursor: pointer;">Apply</a>
                </div>
            </div>
        </div>
        <div id="signatureDraw" class="tab-pane" data-bind="attr: { id: 'signatureDraw' + padIndex()}, css: { 'active': !showTypeItTab() }">
            <div class="sigPad" style="padding: 0px;">
                <div class="modal-body">
                    <div style="display: block;" class="">
                        <div id="signature-draw-container" class="signature-type" style="width: 264px; height:88px; margin: 20px auto;" data-bind="visible: vectorPad, attr: { id: 'signature-draw-container-' + padIndex()}"></div>
                        <div class="sig signature-type" style="width: 264px; margin: 15px auto; height: 88px; background-color: white;" id="signature-pad" data-bind="style: { display: vectorPad() ? 'none' : 'block' }, attr: { id: 'signature-pad-' + padIndex()}">
                            <canvas class="pad" width="264" height="88" style="border-style: solid"></canvas>
                            <input type="hidden" name="output" class="output">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="signature-add-label" style="padding-bottom: 11px; padding-right: 5px; float: left; padding-top: 5px;" data-bind="visible: showSaveButton">
                        <span data-bind="css: { checked: saveToMySignatures(), unchecked: !saveToMySignatures() }, click: function () { saveToMySignatures(saveToMySignatures() == false); }" class="checkbox checked" style="margin-top: 0">
                            <input type="checkbox" data-bind="checked: saveToMySignatures" class="checkbox">
                        </span>
                        Add to "My Signatures"
                    </div>
                    <div data-bind="visible: vectorPad" style="float: left;">
                        <!-- ko if: $root.signatureColors().length==4 -->
                        <!-- ko foreach:{data: $root.signatureColors, as: 'cl'} -->
                        <div class="manage_color" title="Select pen color for signature" data-bind="click: function () { $parent.activeSignatureColor(cl); }, css: { active: $parent.activeSignatureColor() == cl }, style: { backgroundColor: cl }"></div>
                        <!-- /ko -->
                        <!-- /ko -->
                        <!-- ko if: $root.signatureColors().length>4 -->
                        <a class="left" href="#carousel-signature-colors-draw" role="button" data-slide="prev">
                            <span class="colorcarousel prevbtn"></span>
                        </a>
                        <a class="right" href="#carousel-signature-colors-draw" role="button" data-slide="next">
                            <span class="colorcarousel nextbtn"></span>
                        </a>
                        <div id="carousel-signature-colors-draw" class="carousel slide" style="margin-bottom: 0;" data-interval="0">
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                <!-- ko foreach:{data: new Array(Math.ceil($root.signatureColors().length/4))} -->
                                <div class="item active" data-bind="css: { 'active': $index()==0 }">
                                    <!-- ko foreach:{data: $root.signatureColors.slice($index()*4,($index()*4)+4), as: 'cl'} -->
                                    <div class="manage_color" title="Select pen color for signature" data-bind="click: function () { $parents[1].activeSignatureColor(cl); }, css: { active: $parents[1].activeSignatureColor() == cl }, style: { backgroundColor: cl }"></div>
                                    <!-- /ko -->
                                </div>
                                <!-- /ko -->
                            </div>
                        </div>
                        <!-- /ko -->

                    </div>
                    <div style="float: right;">
                        <a title="Cancel signature" class="text_btn" data-bind="click: hide" style="cursor: pointer;">Cancel</a>
                        <a class="grey_button reset-signature" title="Reset signature" style="cursor: pointer;">Reset</a>
                        <a id="apply-draw" class="red_button" title="Add signature" style="cursor: pointer;">Apply</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="signatureUpload" class="tab-pane" data-bind="attr: { id: 'signatureUpload' + padIndex()}, visible: showUploadTab">
            <div class="modal-body">
                <div id="dropFilesArea" class="drop-files-area" data-bind="fileDnD: { 'enabled': true }, event: { 'onFilesDragged': fileDragged }, visible: uploadedImage() == null || uploadedImage() == ''"> </div>
                <a id="signatureUploadFile" class="red_button" title="Upload File" data-bind="click: function () { $('#input-upload-signature').click(); }, visible: uploadedImage() == null || uploadedImage() == ''">Upload File</a>
                <input type="file" class="file-input js-fileapi-wrapper" id="input-upload-signature" data-bind="event: { change: fileUploaded }, style: { left: !config.checkFileApiSupport() ? '10px' : '152px'}" style="left:160px; width: 118px; height: 26px !important; top: 48px; font-size: 15px !important;">
                <div style="display: block; width: 216px; height: 82px; margin: 15px auto;" class="image-container">
                    <img id="uploaded-signature" data-bind="src: uploadedImage, visible: uploadedImage() != null && uploadedImage() != '', click: function () { $('#input-upload-signature').click(); }" style="width: 216px; height: 82px; cursor: pointer;" />
                </div>
            </div>
            <div class="modal-footer">
                <label class="signature-add-label" style="padding-bottom: 11px; padding-right: 20px;padding-top: 5px;" data-bind="visible: showSaveButton">
                    <span data-bind="css: { checked: saveToMySignatures(), unchecked: !saveToMySignatures() }, click: function () { saveToMySignatures(saveToMySignatures() == false); }" class="checkbox checked" style="margin-top: 0">
                        <input type="checkbox" data-bind="checked: saveToMySignatures" class="checkbox">
                    </span>
                    Add to "My Signatures"
                </label>
                <a title="Cancel signature" class="text_btn" data-bind="click: hide" style="cursor: pointer;">Cancel</a>
                <a class="grey_button" title="Reset signature" style="cursor: pointer;" data-bind="click: function () { uploadedImage(''); $('#input-upload-signature').val(''); }">Reset</a>
                <a id="apply-upload" class="red_button" title="Add signature" style="cursor: pointer;">Apply</a>
            </div>
        </div>
        <div id="signatureMy" class="tab-pane" data-bind="visible: showSelectTab, attr: { id: 'signatureMy' + padIndex()}">
            <div class="modal-body">
                <!-- Added for Signature 3-->
                <div data-bind="visible: false && !fontsLoading()" class="signature-carousel-container">
                    <!-- ko if: !expanded() -->
                    <div style="margin: 10px 0 0;" data-bind="signaturesCarousel: {}">
                        <div style="margin: 10px 0 0;" class="signature-carousel">
                            <!-- ko foreach: { data: signatures, afterRender: savedSignatureAfterRender } -->
                            <!-- ko template: { name: 'savedSignatureTemplate' }-->
                            <!-- /ko -->
                            <!-- /ko -->
                        </div>
                    </div>
                    <!-- /ko -->
                    <!-- ko if: expanded() -->
                    <div style="margin: 10px 0 0;" data-bind="signaturesCarousel: {}">
                        <div style="margin: 10px 0 0;" class="signature-carousel">
                            <!-- ko foreach: { data: signatures.slice(0,Math.round(signatures().length/2)+1), afterRender: savedSignatureAfterRender } -->
                            <!-- ko template: { name: 'savedSignatureTemplate' }-->
                            <!-- /ko -->
                            <!-- /ko -->
                        </div>
                        <div style="" class="signature-carousel">
                            <!-- ko foreach: { data: signatures.slice(Math.round(signatures().length/2)+1) , afterRender: savedSignatureAfterRender } -->
                            <!-- ko template: { name: 'savedSignatureTemplate' }-->
                            <!-- /ko -->
                            <!-- /ko -->
                        </div>
                    </div>
                    <!-- /ko -->
                </div>
            </div>
        </div>
    </div>
    <script type="text/html" id="savedSignatureTemplate">
        <div class="signature-carousel-item">
            <a class="signature-type saved-signature" style="width: 216px;">
                <!-- ko if: signatureImageUrl().substring(0,4)=='<svg' -->
                <!-- ko if: $root.config.checkBrowserForSvgSupport() -->
                <div data-bind="html: signatureImageUrl, attr: { alt: name }" style="width:216px; height:82px; cursor: pointer;"></div>
                <!-- /ko -->
                <!-- ko if: !$root.config.checkBrowserForSvgSupport() -->
                <img class="svg-not-supported" style="cursor: default;" src="/Content/images/vector_signature.png" title="Your browser do not support vector signatures" />
                <!-- /ko -->
                <!-- /ko -->
                <!-- ko if: signatureImageUrl().substring(0,4)!='<svg' -->
                <img style="cursor: pointer;" data-bind="src: signatureImageUrl, attr: { alt: name }" />
                <!-- /ko -->
            </a>
        </div>
    </script>
    <script type="text/html" id="typeSignatureTemplate">
        <div class="signature-carousel-item">
            <a class="signature-type typed-signature" style="cursor: pointer; margin-bottom: 5px;">
                <div style="width: auto; height: 82px; text-align: center;" data-bind="style: { fontFamily: $data, color: $root.activeSignatureColor }"><span data-bind="    text: $root.signatureText() != '' ? $root.signatureText : 'Signature', textFill: $root.loadedFontsArray()[$data]" style="white-space: nowrap; line-height: 80px;">Signature</span></div>
            </a>
        </div>
    </script>
</div>