<div id="zooming-container" class="left">
    <!-- ko stopBindings: true -->
    <div id="download" class="new_head_tools_dropdown_wrapper" data-bind="dropdownButton: '.dropdown-menu'">
        <a class="new_head_tools_btn h_t_i_download toolTip dropdown-menu-button" data-placement="bottom" rel="tooltip" title="Download" href="#"> </a>
        <ul id="download-dropdown" class="dropdown-menu head_tool_dropdown" style="display: none;">
            <li>
                <a href="#" data-bind="click: function (e) { download('docx') }, clickBubble: false">As DOCX</a>
            </li>
            <li>
                <a href="#" data-bind="click: function (e) { download('doc') }, clickBubble: false">As DOC</a>
            </li>
            <li>
                <a href="#" data-bind="click: function (e) { download('pdf') }, clickBubble: false">As PDF</a>
            </li>
        </ul>
    </div>
    <!-- /ko -->
    <a class="new_head_tools_btn h_t_i_zoomin" href="#" data-bind="click: zoomIn"> </a>
    <a class="new_head_tools_btn h_t_i_zoomout" href="#" data-bind="click: zoomOut"> </a>
    <div id="zoom" class="new_head_tools_dropdown_wrapper" data-bind="dropdownButton: '.dropdown-menu'">
        <a class="new_head_tools_btn head_tool_dropdown_btn h_t_i_zoom .dropdown-menu-button" href="#">
        </a>
        <ul id="zoom-dropdown" class="dropdown-menu head_tool_dropdown" style="display: none;">
            <!-- ko foreach: zooms -->
            <li>
                <a href="#" data-bind="event: { mousedown: function (item, e) { $parent.setZoom(item, e); } }">
                    <span class="h_t_d_i_fitwidth" data-bind="visible: $data.fitWidth"></span>
                    <span class="h_t_d_i_fitheight" data-bind="visible: $data.fitHeight"></span>
                    <p data-bind="text: name"></p>
                </a>
            </li>
            <!-- /ko -->
        </ul>
    </div>
</div>